<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:replace="fragments/common :: head"></head>

<body>

<div id="wrapper">

    <!--메뉴-->
    <nav class="navbar-default navbar-static-side" role="navigation"
         th:replace="fragments/common :: menu('Settings','delegate')"></nav>

    <div id="page-wrapper" class="gray-bg">

        <!--프로필-->
        <div class="row border-bottom" th:replace="fragments/common :: profile"></nav></div>

        <!--Content-->
        <!--Content Body-->
        <div class="wrapper wrapper-content animated fadeInRight">
            <!--그룹 관리-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">그룹 관리</div>
                        <div class="dmzt-container ibox-content p-md" id="group-container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/clip/delegate}">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="searchText" class="sr-only">검색</label> &nbsp&nbsp&nbsp&nbsp
                                            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
                                        </div>
                                        <button type="submit" class="btn btn-light mb-2">검색</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupRegister">그룹 등록</button>
                                    </form>
                                </div>
                            </div>
                            <hr/>

                            <div class="row">
                                <div class="col-lg-12">
                                    <table id="grid-groups" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">No</th>
                                            <th style="text-align: center">타입</th>
                                            <th style="text-align: center">그룹 이름</th>
                                            <th style="text-align: center">그룹 관리자</th>
                                        </tr>
                                        </thead>
                                        <tbody id="grid-groups-list" class="tbody-grid-groups-list">
                                        <tr class="link_btn hover" th:each="delegate : ${delegates}">
                                            <td style="text-align: center;" th:text="${delegate.id}"></td>
                                            <td style="text-align: center;">
                                                <span>서비스 타입</span>
                                            </td>
                                            <td style="text-align: center;" th:text="${delegate.groupname}"></td>
                                            <td style="text-align: center;" >
                                                    <span th:each="delegateUser : ${delegate.delegateUsers}">
                                                        <h5 th:text="${delegateUser.username}"></h5>
                                                    </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 구성원 관리-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">그룹 관리자</div>
                        <div class="dmzt-container ibox-content p-md">
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">Group Id</label>
                                            <div class="col-lg-11">
                                                <input id="groupId" name="groupId" type="hidden" class="form-control disabled full-max-width" disabled/>
                                                <input id="groupName" name="groupName" class="form-control disabled full-max-width" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">사용자</label>
                                            <div class="col-lg-11">
                                                <form id="form-group-users">
                                                    <table id="grid-group-user" class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>no</th>
                                                            <th>groupname</th>
                                                            <th>username</th>
                                                            <th>삭제</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="tbody-grid-groups-user-list"></tbody>

                                                    </table>
                                                </form>

                                                <div class="ibox-footer">
                                                    <div class="input-group">
                                                        <select id="input-group-users" class="" style="width: 100%;" multiple="multiple" placeholder="User name is ..."></select>
                                                        <span class="input-group-btn">
                                                        <button type="button" th:onclick="|addUsersData()|" class="btn btn-primary"><span class="fa fa-plus"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--사용자 등록 Modal-->
        <div class="modal fade" id="groupRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">그룹 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="delegateGroup" class="col-form-label">서비스:</label>
                                <div >
                                    <select id="" name="" class="form-control">
                                        <option value="">-- 서비스 선택 --</option>
                                        <option value="confluence">confluence</option>
                                        <option value="jiralive">jiralive</option>
                                        <option value="jiradev">jiradev</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="delegateGroup" class="col-form-label">delegateGroup:</label>
                                <input type="text" class="form-control" id="delegateGroup">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary dmzt-create-button" th:onclick="|registerDelegate()|">등록</button>
                    </div>
                </div>
            </div>
        </div><!--사용자 등록 Modal-->


        <script type="text/javascript" th:src="@{/js/admin/delegateManager.js}"></script>

        <!--footer-->
        <div class="footer" th:replace="fragments/common :: footer"></div>

    </div>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            // Grups Member 추가
            const gridrow= document.querySelector('#grid-groups-list');
            gridrow.addEventListener('click', getGridRow, false);

        });

        async function deleteRequest(url,data){
            return fetch(url,{
                credentials: 'same-origin', // 'include', default: 'omit'
                method: 'DELETE',              // 'GET', 'PUT', 'DELETE', etc.
                body: JSON.stringify(data), // Coordinate the body type with 'Content-Type'
                headers: new Headers({
                    'Content-Type': 'application/json'
                }),
            }).then(function(response){
                return response.json();
            })
        }


        async function getRequest(url){
            return fetch(url,{
                credentials: 'same-origin', // 'include', default: 'omit'
                method: 'GET',              // 'GET', 'PUT', 'DELETE', etc.
                headers: new Headers({
                    'Content-Type': 'application/json'
                }),
            }).then(function(response){

                if (!response.ok){
                    throw new Error("HTTP status " + response.status);
                }
                return response.json();
            })
        }

        async function getGridRow(e){
            /*
            Group row 선택시 구성원관리 영역으로 데이터 셋업
            */
            const row = e.path[1];
            const groupId  = row.cells[0].innerHTML;
            const groupName  = row.cells[2].innerHTML;
            document.querySelector('#groupId').value = groupId;
            document.querySelector('#groupName').value = groupName;

            const url = "/admin/delegate/"+groupId+"/members";
            const response = await getRequest(url);

            const tableRef = document.getElementById('grid-group-user').getElementsByTagName('tbody')[0];
            tableRef.innerHTML = "";

            if (response != ""){
                for (let index = 0; index < response.delegateUsers.length; index++) {
                    tableRef.insertRow().innerHTML =
                        "<th scope='row'>" + (index + 1).toString()+ "</th>" +
                        "<td>" +groupName+ "</td>"+
                        "<td>" +response.delegateUsers[index]+ "</td>"+
                        "<td><button type='button'class='btn btn-primary dmzt-create-button'\
                            onclick=deleteDelegetUser('"+groupId+"','"+response.delegateUsers[index]+"')>삭제</button></td>";
                }
            }
        }

        async function addUsersData(){
            const groupId=$("#groupId").val();

            if(groupId == ""){
                document.querySelector('#groupId').focus();
                alert("그룹을 선택해주세요.");
                return false
            }

            let data = {
                id: groupId,
                delegateUsers: $("#input-group-users").val()
            }

            let url = "/admin/delegate/member"
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(data)
            });

            let error = await response.json();

            if (error['status'] == '200') {
                alert("그룹 관리자를 추가했습니다.");
                //location.href = "http://localhost:8080/clip/delegate";
            } else {
                alert("그룹 관리자 추가를 실패했습니다.");
            }
        }

        $(document).ready(function () {
            $('#input-group-users').select2({
                ajax: {
                    url: '/admin/serch/accounts',
                    data: function (params,data) {
                        var query = {
                            type: 'public',
                            searchText: params.term
                        }
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data){
                        return {
                            results: $.map(data.content, function(obj, index){
                                return { id: obj.username, text: obj.username+" ("+obj.email+")"};
                            })
                        };
                    },
                }
            });
        });



    </script>
</div>
</body>
</html>